fieldset {
    margin: 0px 102px;

    border-radius: 20px;
    margin-top: 20px;
    background-color: #00ffa18c;
    padding: 9px 29px;
    box-shadow: 2px 2px 2px grey;
}
select{
    width: 100%;
    height: 100%;
}
.diachi2{
    height: 142%;
}
.cuoi {
    text-align: right;
}

.btn {
    border: none;
    align-items: center;
}

body {
    padding: 20px 20px;
    background-color: #00ffa18c;
}

label {
    font-weight: bold;
    color: #377e7b;
}

legend {

    font-weight: bold;

}

.bi {
    display: inline-block;
    vertical-align: -0.125em;
}

.hieu {

    font-weight: bold;
    color: burlywood;
}

.anhthe{

    border: 1px solid black;
    width: 50%;
    height: auto;
}

.main-content {
    text-align: center;
}

.btn{
    margin-right: 5px;
}
.mid{
    text-align: center;
}
.invalid{
    color: red;
}
.custom-select{
    border: none;
    border-radius: 3px;
    height: 38px;
}